[commit]
	gpgsign = true
[init]
	defaultBranch = master
[core]
	editor = nvim
[alias]
	current = !git log -n 1 --oneline && git diff
	staged = "diff --staged"
	pick = "add -p"
	p = "add -p"
	s = "status --short"
	b = "branch"
	log1 = "log --oneline"
